@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif; 
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #454ea6;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #6975FA;
    text-align: center;
    text-shadow: 1px 1px 2px #4d56b8;
}
h2{
    color: #66AD40;
}
body{
    background-image: linear-gradient(to right, #FAA582, #6975FA);
}
p{
    text-align: justify;
}